<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <p><a href= "/">index</a></p>
    <p><a href= "/quizzes">quizzes</a></p>
    <p><a href= "/credits">créditos</a></p>
    <p>Los autores de esta práctica son: Jose Ignacio Villegas Villegas y Raúl Luengo Ximenez-Cruz</p>
    
    <img src="https://www.viajejet.com/wp-content/viajes/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada-1440x810.jpg">
  </body>
</html>
