<!DOCTYPE html>
<html>
  <head>
    <title>Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quizzes</h1>
    <h2>Lista de Quizzes:</h2>
    <p><a href= "/">index</a></p>
    <p><a href= "/quizzes">quizzes</a></p>
    <p><a href= "/credits">créditos</a></p>
    <ul>
    <% for (let i in quizzes) {%>
    <% let quiz = quizzes[i];%>
    <li>
        <%= quiz.question%> : <%=quiz.answer%>
    </li>
    <%}%>
    </ul>
  </body>
</html>
